* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
header{
    width: 100%;
    height: 10%;
}


.container-banshee{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #a69281;
   
   font-family: 'Crimson Text', serif;
   font-weight: bold;
  align-items: center;
  padding-left: 350px ;
  padding-right: 350px ;

}

.container-banshee a{
    text-decoration: none;
    color: #8b0000;
    font-size: 25px;
}
#loja{
    color:#f7925e ;
}
#login{
    color: white;
}

.container-ofert{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #e1d1c4;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px ;
    
}

.container-ofert p{
    color: #8b0000;
    font-size: 20px;
}

.icon{
    height: 20px;
}

.login{
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

#cart{
    height: 30px;
    
}



.container-text{
    display: flex;
   
    align-items: center;
    background-color: #fcf8ed;
    flex-direction: column;
    width: 50%;
    margin: auto;
    height: 900px;
}


.container-text h1{
    font-size: 45px;
    color: #8b0000;
    margin-bottom: 40px;
    margin-top: 100px;
    
}

.container-text p{
   
    color: gray;
    margin-left: 30px;
    width: 500px;
    margin-bottom: 40px;
    text-align: center;
}

.container-text a{
    text-decoration: none;
    color: #c2a36a;
    font-size: 23px;
    margin-left: 30px;
    width: 500px;
    margin-top: 30px;
    text-align: center;
}

.p-corset{

    font-size: 24px;
    letter-spacing: 0.1em;

}

.p-corset2{
    font-size: 21px;
}


.container-type-corset{
    background-color: #d5be96;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
   align-items: center;
    font-size: 18px;
    
   padding-left: 300px;
    padding-right: 300px;
    
    
}

.container-type-corset a{
    text-decoration: none;
    color: #8b0000;
    flex-grow: 1;
  
    font-weight: bold;
    
}

.type-corset{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}